<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>



<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">myBooks</a>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                    <span class="badge badge-sm indicator-item">8</span>
                </div>
            </label>
        </div>
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                </div>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
                        Profile
                        <span class="badge">New</span>
                    </a>
                </li>
                <li><a>Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="divider"></div>

<div class="w-full  flex items-center justify-center mt-5 flex-col">
    <input type="text" id="input" placeholder="Type here" class=" my-5  input input-ghost w-full max-w-xs" />

    <div class="w-11/12 flex items-center justify-center">
        <table class="table w-11/12">
            <!-- head -->
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>

                    <th>Date publised</th>

                    <th>Pages</th>
                </tr>
            </thead>
            <tbody id="body">

            </tbody>
        </table>
    </div>

</div>

<script>



    const searchInput = document.getElementById("input")

    async function saveBooks(data) {


        const base = data.target.parentElement.parentElement

        const title = base.children[0].innerText
        const author = base.children[1].innerText
        const pages = base.children[2].innerText

        const book = {
            "title": title,
            "author": author,
            "status": "Not started",
            "pages": pages,
            "pictures": "pp",
            "prices": 23.12,
            "user_id": 1,
        }

        const url = "/add-book"

        const response = await fetch(url, {
            method: "POST",
            body: JSON.stringify(book)
        })

    }

    async function get(query) {

        const url = `http://openlibrary.org/search.json?q=${query}&limit=${10}`;
        const results = await fetch(url);

        // Get JSON results
        const data = await results.json();

        return data.docs
    }


    function render(data) {

        const body = document.getElementById('body');

        data.map(book => {

            const tr = document.createElement("tr")
            tr.innerHTML = `
                    <td class="max-w-3/5 columns-2 whitespace-normal" >${book.title}</td>
                    <td  class="max-w-3/5 columns-2 whitespace-normal">${book.author_name[0]}</td>

                    <td>${book.first_publish_year}</td>

                    <td>${book.number_of_pages_median}</td>
                    <td>
                    <button onclick="saveBooks(event)" class="btn btn-active btn-primary">Save</button>
                    </td>
`
            body.appendChild(tr);
        })
    }


    searchInput.addEventListener('input', async () => {
        const query = searchInput.value;
        let data;
        data = await get(query)

        const parent = document.getElementById('body');

        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }

        render(data)
    });

    console.log(username)

</script>

</html>
