<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />

    <meta name="theme-color" content="dark" />

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>


    <title>Book Tracker</title>

</head>

{{ template "nav" . }}
<div class="divider"></div>
<div id="toast" class="toast toast-top toast-end w-11/12 flex items-center ">

</div>

<div class="w-full  flex items-center justify-center mt-5 flex-col">
    <input type="text" id="input" placeholder="Type here" class=" my-5  input input-ghost w-full max-w-xs" />

    <div id="body" class="w-11/12 flex items-center justify-center flex-col">

    </div>
</div>

</div>

<script>

    function redirect(url) {
        window.location = url
    }

    const searchInput = document.getElementById("input")

    async function saveBooks(data) {
        const d = document.getElementById("toast")

        try {

            // Get the div with class "card-body"

            const cardBody = document.querySelector('.card-body');
            const h2 = cardBody.children[0];
            const p = cardBody.children[1];

            const p1 = cardBody.children[2];

            const title = h2.innerText;
            const author = p.innerHTML;


            const book = {
                "title": title,
                "author": author,
                "status": "Not started",
                "pages": Number(12),
                "picture": p1.innerHTML,
                "prices": 23.12,
                "started_at": "May"
            }


            const url = "/add-book"

            const response = await fetch(url, {
                method: "POST",
                body: JSON.stringify(book)
            })


            const q = await response.json()
            console.log(q)

            d.innerHTML = `
            <div class="alert alert-success w-[300px]">
        <span>Book added successfully.</span>
    </div>`

            setTimeout(() => {
                d.innerHTML = ``
                // runs after 2 seconds
            }, 3000);

        }
        catch (err) {

            d.innerHTML = `
            <div class="alert alert-error w-[300px]">
        <span>${err}</span>
    </div>`

            setTimeout(() => {
                d.innerHTML = ``
                // runs after 2 seconds
            }, 3000);

 
            // throw new Error('Could not parse response JSON');
            console.log(err)
            // handle error 
        }

    }

    async function get(query) {

        const url = `https://openlibrary.org/search.json?q=${query}&limit=${10}`;
        const results = await fetch(url);

        // Get JSON results
        const data = await results.json();
        //  https://covers.openlibrary.org/b/id/12547191-L.jpg

        return data.docs
    }


    function render(data) {

        const body = document.getElementById('body');

        data.map(book => {

            const div = document.createElement("div")
            const classes = 'card w-11/12 bg-base-100 shadow-xl my-2'.split(' ');

            classes.forEach(c => {
                div.classList.add(c);
            });

            div.innerHTML = `

            <div class="card-body w-11/12">
                <h2 class="card-title">${book.title}</h2>
                <p>${book.author_name[0]}</p>
            <p  style="display:none;" >${book.isbn[0]}</p>
                <div class="card-actions justify-end">
                 <button onclick="saveBooks(event)" class="btn btn-active btn-primary">
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="18px" height="18px">
  <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z"/>
</svg>
                 </button>
                </div>

`
            body.appendChild(div);
        })
    }


    searchInput.addEventListener('input', async () => {
        const query = searchInput.value;
        let data;
        data = await get(query)

        const parent = document.getElementById('body');

        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }

        render(data)
    });


</script>

</html>
