<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
</head>

<body>

    {{ template "nav" . }}

    <div class="divider"></div>
    <div class="overflow-x-auto w-full flex items-center justify-center">
        <table id="table" class=" table w-11/12">
            <!-- head -->
            <thead>
                <tr>
                    <th>Title/Author</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {{ range .}}

                <tr class="hover" hx-on:click="click: redirect('/book/{{.ID}}')">
                    <td>
                        <div class="flex items-center space-x-3">
                            <div>
                                <div class="font-bold">{{.Title}}</div>
                                <div class="text-sm opacity-50">{{ .Author}}</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="badge badge-success">
                            {{.Status}}
                        </div>
                    </td>
                </tr>
            </tbody>
            {{end}}

        </table>
</body>


<script>

    function details() {
        console.log("Hello World")
    }

    function redirect(url) {
        window.location = url
    }

</script>

</html>
