<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
</head>

<body>

    {{ template "nav" . }}

    <div class="divider"></div>

    <div class="card card-side bg-base-100 shadow-xl">
        <figure><img src="/images/stock/photo-1635805737707-575885ab0820.jpg" alt="Movie" /></figure>
        <div class="card-body">

            <h2 class="card-title">{{.Title}}</h2>

            <p>{{.Author}}</p>
            <div class="badge badge-info gap-2">
                {{.Status}}
            </div>
            <div class="card-actions justify-end">

            </div>
            <ul class="menu bg-base-200 w-56 rounded-box">
                <li><a hx-on:click="click: update('Not started',{{.ID}})">Not started</a></li>
                <li><a hx-on:click="click: update('Started',{{.ID}})"> Started</a></li>
                <li><a hx-on:click="click: update('Finished',{{.ID}})">Finished</a></li>
            </ul>
        </div>

    </div>


</body>

<script>

    async function update(status, id) {
        try {
            const url = `/change-${status}-${id}`

            const response = await fetch(url, {
                method: "PUT",
            })

window.location.reload();
        }
        catch (err) {
            console.log(err)
        }
    }

    function redirect(url) {
        window.location = url
    }

</script>

</html>
